body {
    background-color: rgba(252, 255, 81, 0.904);
} 
#title {
    font-size: 150px;
    font-style: italic;
    text-align: center;
    font-stretch: 12px;
    font-weight: 900;

}
img {
    width: 100px;
}

.border {
    border: 2px solid black;
    margin: auto;
    width: 500px;
}